tensorflow
numpy
streamlit
datetime
streamlit_option_menu
Pillow
storage
google-cloud-storage
requests
gdown
torch
torchvision
tensorflow
opencv-python
numpy
matplotlib
pycocotools
git+https://github.com/facebookresearch/detectron2.git
